# Python venv
venv/
.env/
.idea/

# Byte code and cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
processed/

# Model weights
models/

# OS files
.DS_Store
