# Python venv
.venv/
venv/
env/

# PyCharm
.idea/

# Bytecode + cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# OS files
.DS_Store

# Ignore model weights & checkpoints
models/
**/checkpoint-*/

# Ignore processed tokenized datasets (HuggingFace caches)
processed/tokenized_DeBERTa_ds/

# KEEP metadata in processed/
!processed/*.json

# Ignore HuggingFace caches
.cache/
huggingface/
hf_cache/
~/.cache/huggingface/

# Ignore experiment logs
runs/
wandb/
logs/
tensorboard/
mlruns/

# Keep data (xlsx, json, csv)
!data/*.xlsx
!data/*.csv
!data/*.json
!data/*.txt
