--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

# Core Data & Utilities
pandas>=2.0
numpy>=1.23
datasets>=2.12

# Excel Support
openpyxl>=3.0.10

# NLP & Machine Learning (Classical)
scikit-learn>=1.2
spacy>=3.5
regex>=2023.0.0

# Visualization
matplotlib>=3.7
seaborn>=0.12

# Required for DeBERTa + HuggingFace tokenizers
protobuf==3.20.*
sentencepiece>=0.1.99
tokenizers<0.21

# Transformers + Training
transformers>=4.30
accelerate>=0.20

# Progress bar for model training
tqdm>=4.60
ipywidgets>=8.0
